@import '_variables'

.aimpr
  margin: 10px 34px 0 25px

.track-name, .friend-item, .my-list-btn>span
  cursor: pointer

.show-more
  margin-top: 5px
  width: 100%

.app-header
  margin-bottom: 15px

.ladda-button
  outline: 0

a
  color: $gray

  &:hover
    color: $green

.my-alert-danger
  background-color: #f2dede
  border: none
  color: #a94442
  border-radius: 3
