@import '_variables'

.tracklist-wrapper
  overflow: hidden

.tracklist
  margin-top: 15px

.track-body
  overflow: hidden
  border-radius: 3px
  padding-top: 2px
  padding-bottom: 2px

.track-duration
  display: block

.add-remove-btn
  display: none
  float: right
  margin-top: 1.5px

.track-body
  margin-top: 3px

  &:hover
    background-color: $lighten-gray

    .track-duration
      display: none

    .add-remove-btn
      display: block

  a:hover
    color: darken($gray, 10%)

  &.active
    background-color: $lighten-gray

  &.deleted
    background-color: lighten($gray, 20%)

  &.improved
    background-color: $lighten-green

  &.failed
    background-color: lighten($red, 10%)

.duration-or-btn
  text-align: right
  padding-left: 0
  padding-right: 27px

.track-text
  width: 100%
  outline: 0
