doctype html
html(ng-app='aimpr')

head
    title yo app
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//vk.com/js/api/xd_connection.js?2')
    script(src='/q.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')

  body
    .container-fluid.aimpr(ng-controller='trackList')
      .app-header
        .row
          .col-xs-3 123
          .col-xs-3
            button.btn.btn-danger(ng-click='makeLulz()') auth
          .col-xs-3.col-sm-3
            button.btn.btn-primary Improve!

      .tracklist
        .row(ng-repeat='track in tracks')
          .col-xs-3.col-sm-1
            span.glyphicon.glyphicon-play

          .col-xs-9.col-sm-11
            span.track-name {{track.artist + ' - ' + track.title}}
