#app
  %h3{style: 'margin: 20px 0 10px 0;'} Находит тексты ваших аудиозаписей и обновляет их.
  .alert.alert-info{style: 'margin-bottom: 10px;'}
    %a.close{ data: {dismiss: 'alert'} } ×
    приложение пока глупое, находит тексты только популярных треков..

  #controlls.clear
    .progress.progress-striped.fl_l{ style: 'width: 290px; height: 37px; margin-right: 10px;' }
      .bar#progress_improving{ style: 'width: 0%; height: 37px;' }
    %a.btn.btn-primary.btn-large.fl_l#start{ onclick: 'app.improve();' } Начать

  #tracks.clear

#report.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data:{ dismiss: 'modal'} } &times;
    %h3 Отчет
  
  .modal-body

  .modal-footer
    .btn{ data: {dismiss: 'modal'} } Закрыть