#app
  %h2 Приложение находит текст выших музыкальных треков и обновляет их

  #controlls
    .progress.progress-striped.fl_l{ style: 'width: 400px;' }
      .bar#progress_improving{ style: 'width: 0%' }
    %a.btn.btn-primary.btn-large.fl_l#start{ onclick: 'app.improve();' } Начать
