
<div id="wtf" data-modal-effect="fadescale" class="yo-modal">
  <div class="yo-modal-content">
    <div class="yo-modal-content-header"><span>Что это и зачем?</span></div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Слушая музыку ВК частенько хочется посмотрть текст песни, но некоторые люди вместо текста песни пихают туда <b>спам</b> или текста вообще нет.</p>
    <p><img src="images/screenshot-1.png" class="yo-screenshot"/></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;И приходится искать текст песни вручную. С помощью этого аппа, <b>нажав одну кнопочку</b>, можно обновить все тексты песен в вашем списке аудиозаписей (если они, конечно, найдутся в сети).</p><a href="#" class="btn btn-success yo-modal-close">оке</a>
  </div>
</div>