.tab
  ul.tabs
    li(ng-repeat='(site, _) in texts track by $index' ng-class='{"current": site == selected_site}')
      a(ng-click = 'select(site)') {{site}}
    | &#x9;&#x9;

    a.btn.btn-success.btn-sm.save-lyrics(ng-show='texts' ng-click='save(selected_site)') Сохранить

  .tab_content
    .tabs_item(ng-repeat='(site, text) in texts track by $index')
      textarea.form-control.msd-elastic.track-text(ng-model='text' rows=3) {{text}}
