.row
  .col-xs-1
    span.glyphicon(ng-class='{"glyphicon-align-justify": track.lyrics_id }')

  .col-xs-1
    .loading-bar-spinner(ng-if='track.is_loading')
      .spinner-icon

  .col-xs-1
    span.glyphicon.glyphicon-play

  .col-xs-8
    a.track-name(ng-click='showTrack(track.id)') {{track.artist + ' - ' + track.title | characters: 42 :false }}

  .col-xs-1
    .frame
      .toggle.square(ng-click='addOrRemove(track)')


.row(ng-if='isTrackSelected(track.id)')
  .col-xs-1

  .col-xs-10
    div(ng-controller='BestLyricsCtrl')
      lyrics-tabs(texts='cur_track.lyrics')

  .col-xs-1
