.row
  .col-xs-1
    span.glyphicon(ng-class='{"glyphicon-ok": track.lyrics_id, "glyphicon-remove": !track.lyrics_id }')

  .col-xs-2
    {{track.page}}

  .col-xs-9
    a.track-name(ng-click='showTrack(track.aid)') {{track.artist + ' - ' + track.title | characters: 42 :false }}

.row(ng-if="isTrackSelected(track.aid)")
  .col-xs-1
  .col-xs-10
    | Cubilia Curae; Curabitur consequat leo et dui. Aenean ligula mi,
    | dignissim.  Consequat erat at massa. Vivamus id mi. Morbi purus enim,
    | dapibus a, facilisis non, tincidunt at, enim. Vestibulum ante ipsum primis.
  .col-xs-1
