.row
  .col-xs-1
    span.glyphicon(ng-class='{"glyphicon-ok": track.lyrics_id, "glyphicon-remove": !track.lyrics_id }')

  .col-xs-1
    .loading-bar-spinner(ng-if='track.is_loading')
      .spinner-icon

  .col-xs-1
    |{{track.id | limitTo:4}}

  .col-xs-9
    a.track-name(ng-click='showTrack(track.id)') {{track.artist + ' - ' + track.title | characters: 42 :false }}

.row(ng-if='isTrackSelected(track.id)')
  .col-xs-1

  .col-xs-10
    ng-include(src='"views/shared/_get_text.html"')

  .col-xs-1
