.row(ng-class='{"track-deleted": track.deleted == true}')
  .col-xs-1
    span.glyphicon(ng-class='{"glyphicon-align-justify": track.lyrics_id }')

  .col-xs-1
    .loading-bar-spinner(ng-if='track.is_loading')
      .spinner-icon

  .col-xs-1
    span.glyphicon.glyphicon-play

  .col-xs-8
    a.track-name(ng-click='showTrack(track.id)')
      | {{track.artist + ' - ' + track.title | characters: 42 :false }}

  .col-xs-1
    .frame(ng-if='track.owner_id == viewer_id')
      .toggle.square(ng-class='{active: !track.deleted }' ng-click='addOrRemove(track, {my_list: true})')

    .frame(ng-if='track.owner_id != viewer_id')
      .toggle.square(ng-class='{active: (track.deleted === false)}' ng-click='addOrRemove(track)')

.row(ng-if='isTrackSelected(track.id)')
  .col-xs-1

  .col-xs-10
    div(ng-controller='BestLyricsCtrl')
      lyrics-tabs(texts='cur_track.lyrics')

  .col-xs-1
