.row
  .col-xs-1
    span.glyphicon(ng-class='{"glyphicon-ok": track.lyrics_id, "glyphicon-remove": !track.lyrics_id }')

  .col-xs-1
    .loading-bar-spinner(ng-if='track.is_loading')
      .spinner-icon

  .col-xs-1
    | {{track.page}}

  .col-xs-9
    a.track-name(ng-click='showTrack(track.aid)') {{track.artist + ' - ' + track.title | characters: 42 :false }}

.row(ng-if='isTrackSelected(track.aid)')
  .col-xs-1
  .col-xs-10(ng-if='track.lyrics_text')
    #cur-track-lyrics {{track.lyrics_text}}
  .col-xs-10(ng-if='!track.lyrics_text')
    ng-include(src='"views/shared/_get_text.html"')
  .col-xs-1
