doctype html
html(ng-app='aimprApp')

head
    title yo app
    script(src='//vk.com/js/api/xd_connection.js?2')
    //-script(src='/libs/js/aimpr-lib.js')
    script(src='/libs/js/angular.js')
    script(src='/libs/js/angular-route.js')
    script(src='/libs/js/truncate.js')
    script(src='/libs/js/ngStorage.js')
    script(src='/libs/js/q.js')
    script(src='/app.js')
    script(src='/templates.js')

    link(rel='stylesheet', href='/libs/css/aimpr-lib.css')
    link(rel='stylesheet', href='/app.css')

  body
    .container-fluid.aimpr
      .app-header
        .row
          .col-xs-3 всего {{stat.audio_count}}
          .col-xs-3 улучшено {{stat.improved_count}} из {{stat.bad_count}}
          .col-xs-3
            button.btn.btn-primary(ng-click='improve()') Improve!

      ng-view
