doctype html
html(ng-app='aimprApp')

head
    title Audio Improver
    script(src='//vk.com/js/api/xd_connection.js?2')
    script(src='libs/js/index.js')
    script(src='libs/js/spin.js')
    script(src='libs/js/ladda.min.js')

    //-script(src='libs/js/aimpr-lib.js')
    script(src='libs/js/jquery.js')
    script(src='libs/js/angular.js')
    script(src='libs/js/angular-animate.js')
    script(src='libs/js/angular-route.js')
    script(src='libs/js/truncate.js')
    script(src='libs/js/elastic.js')
    script(src='libs/js/ngStorage.js')
    script(src='libs/js/angular-notify.js')
    script(src='libs/js/q.js')
    script(src='templates.js')
    script(src='app.js')

    //-link(rel='stylesheet', href='libs/css/aimpr-lib.css')
    link(rel='stylesheet', href='libs/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/css/angular-notify.css')
    link(rel='stylesheet', href='libs/css/ladda.min.css')
    link(rel='stylesheet', href='app.css')

  body
    .container-fluid.aimpr
      .row.app-header(ng-controller='InfoCtrl' ng-include='"views/info.html"')
      .row.app-body
        .col-xs-9.tracklist-wrapper(ng-controller='TracksCtrl' ng-include='"views/tracks.html"' )
        .col-xs-3(ng-controller='FriendsCtrl' ng-include='"views/friends.html"')

      #wtf.modal(data-modal-effect='fadescale')
        .modal-content
          .modal-content-header
            | Что это? Зачем?
          p
            Слушая музыку ВК частенько хочется посмотрть текст песни, но некоторые паблики вместо текста песни пихают туда ссылки или прочий спам. И приходится искать текст песни вручную. Этот апп с помощью одной кнопочки найдет тексты песен для всех таких треков в вашем списке аудиозаписей. Такие дела.
          p
            img(src='images/screenshot-1.png')
          a.btn.btn-success.modal-close(href='#') оке
