doctype html
html(ng-app='aimprApp')

head
    title yo app
    script(src='//vk.com/js/api/xd_connection.js?2')
    //-script(src='/libs/js/aimpr-lib.js')
    script(src='/libs/js/angular.js')
    script(src='/libs/js/angular-route.js')
    script(src='/libs/js/q.js')
    script(src='/app.js')

    link(rel='stylesheet', href='/libs/css/aimpr-lib.css')
    link(rel='stylesheet', href='/app.css')
  body
    .container-fluid.aimpr(ng-controller='trackList')
      .app-header
        .row
          .col-xs-3 123
          .col-xs-3
            button.btn.btn-danger(ng-click='makeLulz()') auth
          .col-xs-3.col-sm-3
            button.btn.btn-primary Improve!

      .tracklist
        .row(ng-repeat='track in tracks')
          .col-xs-3.col-sm-1
            span.glyphicon.glyphicon-play

          .col-xs-9.col-sm-11
            span.track-name {{track.artist + ' - ' + track.title}}
