| cur
| {{cur_page}}
br
| per
| {{per_page}}
br
| friends.length
| {{friends.length}}
br
.friends-list
  .row(ng-if='friends.length > per_page')
    .friends-search-box
      //-input.form-control(placeholder='поиск..' ng-model='search_name')
      .col-xs-12
        input.form-control(placeholder='поиск..' ng-model='search_name' ng-change='getFriendsByName(search_name)')

  .row.friend-item(ng-repeat='friend in rendered_friends track by $index' ng-click='showUserTracks(friend.id)')
    img.img-circle.friend-photo(src='{{friend.photo_50}}')
    a.friend-name {{friend.first_name | limitTo:10}}

  //  how to bind this fuckin model
  //-| {{search_name.length}}
  //-.row(ng-if='(search_name.length == 0) && (friends.length > per_page) ')
  .row(ng-if='friends.length > per_page')
    //-.col-xs-1
      //-.loading-bar-spinner(ng-if='is_loading')
        //-.spinner-icon
    .col-xs-12
      a.btn.btn-default.show-more(ng-click='showPart("next")') Еще
