.friends
  .row.friends-search-box(ng-if='friends.length > getPerPage()')

    .my-list-btn.yo-hide(ng-class='{"yo-hide": user_id == viewer_id}')
      span.glyphicon.glyphicon-chevron-left(ng-click='showUserTracks(viewer_id)')

    .search-wrapper(ng-class='{"with-btn": user_id != viewer_id}')
      input.form-control(placeholder='поиск..' ng-model='search.name' ng-change='getFriendsByName(search.name)')

      .loading-bar-spinner(ng-if='is_loading')
        .spinner-icon

  .friends-list
    .row.friend-item(ng-repeat='friend in rendered_friends track by $index' ng-click='showUserTracks(friend.id)' ng-class='{active: friend.id == user_id}')
      img.img-circle.friend-photo(src='{{friend.photo_50}}')
      span.friend-name {{friend.first_name | limitTo:10}}

  // big thanks to http://stackoverflow.com/a/22570031/1171144
  .row(ng-if='(friends.length > getPerPage() && !search.name.length)')
    a.btn.btn-success.show-more(ng-click='showPart("next")') Еще
