.col-xs-5
  .toggle.slide2
    input#d(type='checkbox' ng-model='stat.is_all_tracks')
    label(for='d')
      .card

.col-xs-4
  .row
    .col-xs-4 всего
    .col-xs-5 улучшено
    .col-xs-3 зафейлено

  .row
    .col-xs-4 {{stat[ stat.is_all_tracks ? 'all_count' : 'without_lyrics_count' ].all}}
    .col-xs-4 {{stat[ stat.is_all_tracks ? 'all_count' : 'without_lyrics_count' ].improved}}
    .col-xs-4 {{stat[ stat.is_all_tracks ? 'all_count' : 'without_lyrics_count' ].failed}}

.col-xs-3
  button.btn.btn-primary(ng-click='improveList()') Improve!
