.scroll-container#parent
  .intermidiatediv.tracklist(infinite-scroll-container="'#parent'" infinite-scroll="loadMore()" infinite-scroll-distance="0" infinite-scroll-parent="true")

    .row(ng-repeat='track in tracks')
      div(ng-include='"views/shared/_track.html"')
