player(ng-controller='PlayerCtrl' ng-include='"views/player.html"')

.tracklist(ng-class='{reload: reload}')
  .row.track(ng-repeat='track in rendered_tracks track by $index' id='track-{{track.id}}')
    div(ng-include='"views/shared/track.html"')
