#wtf.yo-modal(data-modal-effect='fadescale')
  .yo-modal-content
    .yo-modal-content-header
      span Что это и зачем?
    p
      &nbsp;&nbsp;&nbsp;&nbsp;Слушая музыку ВК частенько хочется посмотрть текст песни, но некоторые люди вместо текста песни пихают туда #[b спам] или текста вообще нет.
    p
      img.yo-screenshot(src='images/screenshot-1.png')
    p
      &nbsp;&nbsp;&nbsp;&nbsp;И приходится искать текст песни вручную. С помощью этого аппа, #[b нажав одну кнопочку], можно обновить все тексты песен в вашем списке аудиозаписей (если они, конечно, найдутся в сети).
    a.btn.btn-success.yo-modal-close(href='#') оке
